{{ define "main" }}


  <meta property="og:site_name" content="drawbuildplay.com" />
  <section class="section blog-single p-0">
    <div  class="container-fluid p-0">
      <div id="search-results" class="row"></div>

      <div  itemscope itemtype="http://schema.org/Article" class="row gx-0 h-100" >
        <meta itemprop="url" content="{{ .Permalink | absURL }}" />

        <div class="col-md-6 col-12 ">
          <div class="container-fluid p-0 m-0">

            <div class="row m-0">
              <div class="col-12 g-0">
              {{ with .Resources.GetMatch "images/cover.*" }}
                {{ with .Resize "1000x" }}
                  <img class="" itemprop="image" src="{{ .Permalink | absURL }}" alt="{{ $.Title }}" title="{{ $.Title }}" style="width: 100%;" data-pin-nopin="true">
                {{ end }} 
              {{ end }}
              </div>
            </div>

            <div class="row py-5 d-md-flex d-none ">
              {{ range .Params.pins }}
                <div class="col-lg-4 col-md-6 col-12 ">
                  <div class="card  border-0 p-1 text-decoration-none " style="border-radius: 15px;" >
                    <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                        <img class="rounded-10" src="{{ .pin_image }}" alt="{{ .pin_description }}" title="{{ .pin_description }}" width="{{ .Width }}" height="{{ .Height }}" />
                    </a>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>                      

        <div class="col-md-6 col-12 description d-flex align-items-top justify-content-center">
          <div class="p-5">
            <h1 itemprop="headline name" content="{{ .Title }}" class="fs-1 text-uppercase text-primary pb-3">{{ .Params.Title }}</h1>

            <span itemprop="author" itemscope itemtype="https://schema.org/Organization" class="small badge text-dark d-none">
              <span itemprop="name">DrawBuildPlay</span>
            </span>
            <span itemprop="description" class="d-none">{{ .Description }}</span>
            <span itemprop="datePublished" content={{ .Date | time.Format "2006-01-02T15:04:05-07:00" }} class="d-none"></span>
            <span itemprop="wordCount" content="{{ len (split .Content " ") }}" class="d-none"></span>
            <span itemprop="keywords" content="{{ .Params.keywords }}"class="d-none"></span>

            {{ range first 1 .Params.pins }}
                <a 
                  class=""
                  href="https://www.pinterest.com/pin/create/button/" 
                  data-pin-url="{{ $.Page.Permalink }}"
                  data-pin-media="{{ .pin_image }}"
                  data-pin-description="{{ .pin_description }}"
                  data-pin-do="buttonPin" 
                  data-pin-custom="true" 
                  data-pin-tall="true" 
                  data-pin-save="true" 
                  data-pin-height="28">
                    <span class="btn btn-secondary mb-4" id="btnShare">Pin This For Later</span>
                </a>

            {{ end }}

            <div itemprop="articleSection">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    



    <div id="BLOGTOPIN_HIDE" class="container-fluid p-lg-5 p-md-3 p-2">
      <div class="row p-0">
        <div class="col-lg-12 col-12">
            <h3 class="fs-2 text-uppercase text-primary px-4 py-3">You might also like these</h3>
        </div>
        <div class="col-lg-12 col-12">
          <div class="container-fluid p-0">
              <div class="row g-4 p-2">
                {{ with .Site.RegularPages.Related . | first 18 }}
                  {{ range . }}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                      <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;" >
                        <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                              {{ $alt := printf "%s (%s, %s, %s) - %s" .Title .Params.category .Params.family .Params.base_spirit .Description }}
                              {{ $title := .Title }}
                              {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                                  {{ with .Resize "1000x" }}
                                      <img class="" src="{{ .RelPermalink }}" alt="{{ $alt }}" title="{{ $title }}" width="{{ .Width }}" height="{{ .Height }}" data-pin-nopin="true" />
                                  {{ end }} 
                              {{ end }}
                        </a>
        
                        <div class="card-body">
                          <div class="fs-5 card-title fw-semibold"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></div>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                {{ end }}
            </div>
          </div>    
        </div>
      </div>
    </div>




  </section>



{{ end }}
