{{ define "main" }}


  <meta property="og:site_name" content="drawbuildplay.com" />
  <section class="section blog-single p-0">
    <div class="container-fluid p-0">
      <div id="search-results" class="row"></div>

      <div  class="row gx-0 h-100" >
        <div class="col-md-6 col-12 ">
          <div class="container-fluid p-0 m-0">

            <div class="row m-0">
              <div class="col-12 g-0">
              {{ with .Resources.GetMatch "images/cover.*" }}
                {{ with .Resize "1000x" }}
                  <img class="" src="{{ .RelPermalink }}" alt="{{ .Name }}" style="width: 100%;">
                {{ end }} 
              {{ end }}
              </div>
            </div>

            <div class="row py-5 d-md-flex d-none ">
              {{ range .Params.pins }}
                <div class="col-lg-4 col-md-6 col-12 ">
                  <div class="card  border-0 p-1 text-decoration-none " style="border-radius: 15px;" >
                    <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                        <img class="rounded-10" src="{{ .pin_image }}" alt="{{ .pin_description }}" title="{{ .pin_description }}" width="{{ .Width }}" height="{{ .Height }}" />
                    </a>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>                      

        <div class="col-md-6 col-12 description d-flex align-items-top justify-content-center">
          <div class="p-5">
            <h1 class="fs-1 text-uppercase text-primary pb-3">{{ .Params.Title }}</h1>

            {{ range first 1 .Params.pins }}
                <a class="" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-custom="true" data-pin-media="{{ .pin_image }}" data-pin-description="{{ .pin_description }}">
                    <span class="btn btn-secondary mb-4" id="btnShare">Pin This For Later</span>
                </a>
            {{ end }}

            <p>
              {{ .Params.Description | markdownify }}
            </p>

            {{ .Content }}

            </div>
        </div>
      </div>
    </div>
    
    



    <div id="relatedArticles" class="container-fluid p-lg-5 p-md-3 p-2 BLOGTOPIN_HIDE">
      <div class="row p-0">
        <div class="col-lg-12 col-12">
            <h3 class="fs-2 text-uppercase text-primary px-4 py-3">You might also like these</h3>
        </div>
        <div class="col-lg-12 col-12">
          <div class="container-fluid p-0">
              <div class="row g-4 p-2">
                {{ with .Site.RegularPages.Related . | first 18 }}
                  {{ range . }}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                      <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;" >
                        <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                              {{ $alt := printf "%s (%s, %s, %s) - %s" .Title .Params.category .Params.family .Params.base_spirit .Description }}
                              {{ $title := .Title }}
                              {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                                  {{ with .Resize "1000x" }}
                                      <img class="" src="{{ .RelPermalink }}" alt="{{ $alt }}" title="{{ $title }}" width="{{ .Width }}" height="{{ .Height }}" />
                                  {{ end }} 
                              {{ end }}
                        </a>
        
                        <div class="card-body">
                          <div class="fs-5 card-title fw-semibold"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></div>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                {{ end }}
            </div>
          </div>    
        </div>
      </div>
    </div>




  </section>



{{ end }}
