{{ define "main" }}
<section class="section pt-1 pb-2 bg-dark">
  <div id="search-results" class="row"></div>

  <meta property="og:site_name" content="drawbuildplay.com" />
  <section class="section blog-single p-0">
    <div class="container-fluid p-0">
      <div id="search-results" class="row"></div>

      <div  class="row gx-0 h-100" >
                            

        <div class="col-xl-4 col-12 description d-flex align-items-top justify-content-center">
          <div class="p-5">
            <h1 class="fs-1 text-uppercase text-primary">{{ .Params.Title }}</h1>
            <h2 class="fs-4 pb-2">Improving your Home Decor, one idea at a time.</h2>


            <section>
                  {{ $data := index .Site.Data .Site.Language.Lang }}
                  {{ with $data.contactinfo.bio }}
                      <p>{{ . | safeHTML }}</p>
                  {{ end }}
                  <p>
                    <img src="/images/cover_pinterest.png"  width="100%" alt="DrawBuildPlay" title="DrawBuildPlay">
                  </p>
            </section>

            {{ .Content }}

            </div>
        </div>

        <div class="col-xl-8 col-12 ">
          <div class="container-fluid p-2 m-0 bg-light">

            <div class="row">
               <!-- Loop through collection pages -->
              {{ $pages := where .Site.Pages "Params.categories" "ne" nil }}

              {{range $pages }}
              <div class="col-12 col-md-3 mb-4 ">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                    {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                        {{ with .Resize "1000x" }}
                            <img class="rounded-10" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                        {{ end }} 
                    {{ end }}
                    {{ if .Params.coverImage }}
                      <img class="rounded-10" src="{{ .Params.coverImage }}" alt="{{ .Title }}" title="{{ .Title }}" />
                    {{ end }}
                  </a>
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h5>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

  

</section>
{{ end }}