{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">
		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">
			{{ partial "intro" . }}
			{{ partial "nav" . }}

			<!-- Main -->
			<div id="main">
				<div class="card-columns relatedArticles">
					{{ range .Site.RegularPages }}
					<div class="card">
						<a href="{{ .Permalink }}">

							{{ with .Resources.GetMatch "images/cover.*" }}
								{{ with .Resize "1000x" }}
									<img class="card-img-top" src="{{ .RelPermalink }}" alt="{{ .Name }}">
								{{ end }} 
							{{ end }}

						</a>  
						<div class="card-body">
							<h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
						</div>
					</div>
					{{ end }}
				</div>
			</div>
			{{ partial "scripts/index" . }}
		</div>
	</body>
</html>


{{ partial "htmlhead" . }}
<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">

   



</body>
</html>
