{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">
		
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				{{ partial "intro" . }}
				{{ partial "nav" . }}

				 <!-- Main -->
				 <div id="main">
					<div class="card-columns relatedArticles">
						{{ range .Site.RegularPages }}
						<div class="card">
							<a href="{{ .Permalink }}">
								{{ $imageResources := .Site.GetPage "/uploads" }}
								{{ with .Params.images }}
									{{ $imageName := .name }}
									
									{{ if not (eq .src "") }}
										{{ $imgToFind := strings.TrimPrefix "/uploads/" .src }}
										{{ $imageResource := $imageResources.Resources.GetMatch ($imgToFind) }}
										{{ $resized := $imageResource.Resize "x400" }}
					
										<img class="card-img-top" data-pin-nopin="true" data-src="{{ $resized.Permalink }}" alt="{{ $imageName }}">
									{{ end }}
								{{ end }}
							</a>  
							<div class="card-body">
								<h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
							</div>
						</div>
						{{ end }}
					</div>
				</div>

			{{ template "_internal/google_analytics.html" . }}
			{{ partial "scripts/index" . }}

	</body>
</html>


{{ partial "htmlhead" . }}
<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">

   



</body>
</html>
