<figure>
    {{ $imageSrc := .Get 0 }}
    {{ $resizeOptions := .Get 2 }}
    {{ $imageAlt := .Inner }}

    {{ with .Page.Resources.GetMatch $imageSrc }}
        {{ $resizedImage := .Resize $resizeOptions }}
        <img style="max-width: 100%; height: auto;" 
             alt="{{ $imageAlt }}" 
             src="{{ $resizedImage.RelPermalink }}" 
             width="{{ $resizedImage.Width }}" 
             height="{{ $resizedImage.Height }}" 
             data-pin-nopin="true">
    {{ end }}

    <figcaption>
        <h4>{{ .Inner }}</h4>
    </figcaption>
</figure>
